{% extends '../partials/base.njk' %}

<!-- App-specific CSS -->
{% block appCSS %}
{% endblock appCSS %}

<!-- App-specific content -->
{% block app %}
	
	{% block page %}
		<h1>Hello world!</h1>
	{% endblock page %}

{% endblock app %}

<!-- App-specific JS -->
{% block appJS %}
{% endblock appJS %}