{% extends '../partials/base.njk' %}

<!-- App-specific CSS -->
{% block appCSS %}{% endblock appCSS %}

<!-- App-specific content -->
{% block app %}
	
	<!-- Page -->
	{% block page %}{% endblock page %}

{% endblock app %}

<!-- App-specific JS -->
{% block appJS %}
	<script src="/js/app.js"></script>
{% endblock appJS %}