<!DOCTYPE html>
<html>
<head>
	{% include '../partials/head.njk' %}

	<!-- App CSS files -->
	{% block appCSS %}
		<link rel="stylesheet" type="text/css" href="/css/app.css" />
	{% endblock appCSS %}

	<!-- Page CSS files -->
	{% block pageCSS %}{% endblock pageCSS %}
</head>
<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- App -->
	{% block app %}{% endblock app %}

	<!-- Javascript -->
	<!-- Base JS files -->
	<script src="/js/main.js"></script>

	<!-- App JS Files -->
	{% block appJS %}{% endblock appJS %}

	<!-- Page JS files -->
	{% block pageJS %}{% endblock pageJS %}

	<!-- Analytics -->
	{% if app.env === 'production' and app.ga !== '' %}
		{% include '../partials/analytics.njk' %}
	{% endif %}
	
</body>
</html>