# Node build artifacts
node_modules
npm-debug.log

# yarn build artifacts
yarn.lock
yarn-error.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

#sublime-text
*.sublime-project
*.sublime-workspace

# dist and public folders
/dist
