{% extends '../partials/app.njk' %}

{% set page = {title: 'Home'} %}

{% block pageCss %}{% endblock pageCss %}

{% block page %}

	<h1>Hello {{subject}}!</h1>

{% endblock page %}

{% block pageJS %}{% endblock pageJS %}