
// app styles here
body {
	background: #efefef;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #222;
}

header {
	background: #ddd;
	margin-bottom: 1rem;
	min-height: 4rem;
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.auth-widget {
	color: inherit;
	align-items: center;
	.nav-link {
		color: inherit;
		line-height: 2rem;
	}
	img {
		width: 2rem;
		margin-left: 0.2rem;
	}
}
strong {
	font-weight: 700;
}

h1, h2, h3, h4 {
	font-family: 'Raleway', 'Open Sans', 'Roboto', sans-serif;
}

h1, h2 { font-weight: 200; }
h3, h4 { font-weight: 300; }

h5, h6 {
	font-family: 'Open Sans', 'Roboto', sans-serif;
	font-weight: 700;
}

.capitalize {
	text-transform: capitalize;
}

#tournament-table {
	tbody tr {
		cursor: pointer;
	}
}
